<div class="mx-auto px-4 py-4 sm:px-8 lg:container 
            grid grid-cols-1 justify-items-stretch md:grid-cols-3 gap-6 ">

  <various-info-box class="lg: mr-8" [title]="'Local cluster summary'" [icon]="'outline/home.svg'" [items]="[
      { label: 'Cluster ID', value: liqoInfo?.local?.clusterID },
      { label: 'Version', value: liqoInfo?.local?.version },
      { label: 'K8s API server', value: liqoInfo?.local?.APIServerAddr },
    ]">
  </various-info-box>

  <various-info-box class="lg:ml-4 lg:mr-4" [title]="'Network details'" [icon]="'outline/graph-view.svg'" [items]="[
      { label: 'Pod CIDR', value: liqoInfo?.network?.podCIDR },
      { label: 'Service CIDR', value: liqoInfo?.network?.serviceCIDR  },
      { label: 'External CIDR', value: liqoInfo?.network?.externalCIDR  },
      { label: 'Internal CIDR', value: liqoInfo?.network?.internalCIDR  }
    ]">
  </various-info-box>

  <various-info-box class="lg:ml-8" [title]="'Miscellaneous info'" [icon]="'outline/information-circle.svg'" [items]="[
      { label: 'Cluster labels', value: liqoInfo?.local?.labels ?? {} }

    ]">
  </various-info-box>

</div>

<app-peering-list class="mt-8" [peerings]="liqoInfo?.peerings?.peers">
</app-peering-list>