<div class="mx-auto px-4 py-4 sm:px-8 lg:container" *transloco="let t">
  <div *transloco="let t" class="mt-4 mb-8">
    <h1 class="text-xl font-semibold text-gray-900 dark:text-white">
      {{ t('clusters.details.peeringInformationWithCluster') }} "{{cluster?.name || cluster?.id}}"
    </h1>
  </div>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4 flex-wrap bg-white p-8 dark:bg-night-700 text-gray-900 dark:text-white">
      <div class="flex flex-wrap gap-4 justify-between">
        <div>
          <div class="label">{{ t('clusters.details.clusterName') }}</div>
          <div class="text-base">{{ cluster?.name || '' }}</div>
        </div>

        <div>
          <div class="label">
            {{ t('clusters.details.peeringStatus') }}
          </div>
          <cluster-status-badge [peeringStatus]="peeringStatus"/>
        </div>

        <div>
          <div class="label">
            <i class="fa-solid fa-arrow-up"></i>
            {{ t('clusters.details.outgoingPeeringStatus') }}
          </div>
          <module-status-badge [status]="cluster?.outgoingPeering || ''" />
        </div>

        <div>
          <div class="label">
            <i class="fa-solid fa-arrow-down"></i>
            {{ t('clusters.details.incomingPeeringStatus') }}
          </div>
          <module-status-badge [status]="cluster?.incomingPeering || ''" />
        </div>
      </div>

      <h3 class="text-lg mt-8 mb-4 font-semibold text-gray-900 dark:text-white">
        {{ t('clusters.details.modulesStatus') }}
      </h3>
      <div class="flex flex-wrap gap-12">
        <div>
          <div class="label">
            <i class="fa-solid fa-globe"></i>
            {{ t('clusters.details.networkingStatus') }}
          </div>
          <module-status-badge [status]="cluster?.networkStatus || ''" />
        </div>

        <div>
          <div class="label">
            <i class="fa-solid fa-lock"></i>
            {{ t('clusters.details.authenticationStatus') }}
          </div>
          <module-status-badge [status]="cluster?.authenticationStatus || ''" />
        </div>

        <div>
          <div class="label">
            <i class="fa-solid fa-network-wired"></i>
            {{ t('clusters.details.clusterApiStatus') }}
          </div>
          <module-status-badge [status]="cluster?.apiServerStatus || ''" />
        </div>
      </div>

      <h3 class="text-lg mt-8 mb-4 font-semibold text-gray-900 dark:text-white">
        {{ t('clusters.details.sharedResources') }}
      </h3>
      <div class="flex flex-wrap gap-12">
        <div>
          <div class="label">
            <i class="fa-solid fa-microchip"></i>
            {{ t('clusters.details.sharedCPU') }}
          </div>
          {{ (cluster?.resources || {}).cpu || '0' }}
        </div>

        <div>
          <div class="label">
            <i class="fa-solid fa-memory"></i>
            {{ t('clusters.details.sharedMemory') }}
          </div>
          {{ (cluster?.resources || {}).memory || '0' }}
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let node of nodes">
    <resources-graphs [node]="node" />
  </div>
</div>
